.calculator {
    width: 300px;
    height: 550px;
    margin: 50px auto;
    border: 4px solid #000000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.display {
    background-color: #020202;
    border-radius: 20px;
    padding: 20px;
    text-align: right;
    flex: 1;
}

.input {
    font-size: 24px;
    color: #8d8d8d;
    height: 50px;
}

.result {
    font-size: 40px;
    color: #f8fcfb;
    height: 50px;
}

.button-grid {
    align-items: middle;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1fr;
    gap: 5px;
    padding: 10px;
}

.number-button {
    width: 65px;
    height: 65px;
    font-size: 24px;
    color: #f4f2f2;
    background-color: #363535 !important;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%; /* Make buttons circular */
    display: flex; /* Center text */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

.operation-button {
    width: 65px;
    height: 65px;
    font-size: 24px;
    color: #f6f2f2;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #db8412 !important;
    border-radius: 50%; /* Make buttons circular */
    display: flex; /* Center text */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

.top-row-button {
    width: 65px;
    height: 65px;
    font-size: 24px;
    color: #f2eeee;
    background-color: #6f6f6f !important;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-button:hover, .operation-button:hover, .top-row-button:hover {
    transition: background-color 0.3s;
}
