<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <a href="{% url 'home' %}"><button type="button">Home</button></a>
    {% if errors %}
    <ul>
    {% for field, errors in errors.items %}
      <li>{{ field }}: {{ errors|join:", " }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html>