.header {
    text-align: center;
    background-color: #a1222d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.form-container {
    margin-top: 20px;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #b52a2a;
    border-radius: 5px;
}

.profilebutton {
    margin-top: 10px;
    padding: 10px;
    background-color: #a1222d !important;
    color: rgb(251, 243, 243);
    border: 1px solid #a1222d;
    border-radius: 5px;
    cursor: pointer;
}

.profilebutton:hover {
    background-color: #d62839;
}

.profile {
    margin-top: 20px;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dfd3d3;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

