
body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.h1c {
    color: #d213b5; 
}

.box {
    border: 2px solid #007BFF;
    padding: 20px;
    margin: 10px 0;
    background-color: #bbbbbb;
}

.highlight {
    background-color: #ffeb3b;
}

a[target="_blank"] {
    color: green;
}

.block {
    display: block;
    margin: 60px 0;
}

.inline {
    display: inline;
    margin: 0 50px;
}
