aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

html, body {
    height: 100%;
    margin: 0;  
}

.wrapper {
    display: flex;            
    flex-direction: column;    
    min-height: 100vh;        
}

main {
    flex: 1;                
}

footer {
    position: absolute;
    background-color: #b3b2b2; 
    padding: 5px;           
    text-align: center;
    bottom: 0;
    width: 100%;
}

