.imga {
    float: right;
    width: 10%;
    height: auto;
    opacity: 70%;
    z-index: 0;
    padding-left: 20px;
    -webkit-box-reflect: left;
  }

.text p {
  z-index: 1;
  }

::selection {
  color: yellow;
  background: purple;
}

#rcorners3 {
  border-radius: 25px;
  background: url(/public/images/image1.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 350px;  
  border-style: ridge;
  border-color: blueviolet;
}

#borderimg { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(/public/images/border.png) 30 round;
}

#navlist {
  position: relative;
  background: transparent;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navlist li {
  margin: 0;
  padding: 0;
  height: 44px;
  width: 43px;
  display: inline-block;
  overflow: hidden;
}

#navlist a {
  height: 44px;
  width: 43px;
  display: inline-block;
  background: none;
  overflow: hidden;
  color: transparent;
}

#home {
  left: 0px;
  width: 46px;
  background: url('/public/images/img_navsprites_hover.gif') 0 0;
}

#prev {
  left: 63px;
  width: 43px;
  background: url('/public/images/img_navsprites_hover.gif') -47px 0;
}

#next {
  left: 129px;
  width: 43px;
  background: url('/public/images/img_navsprites_hover.gif') -91px 0;
}

#home a:hover {
  background: url('/public/images/img_navsprites_hover.gif') 0 -45px;
}

#prev a:hover {
  background: url('/public/images/img_navsprites_hover.gif') -47px -45px;
}

#next a:hover {
  background: url('/public/images/img_navsprites_hover.gif') -91px -45px;
}

div.polaroid {
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.polaroid-container {
  display: flex;        
  justify-content: space-around; 
  flex-wrap: nowrap;      
  justify-content: flex-start;           
  overflow-x: auto;
  width: 100%;
  gap: 50px;
}